body {
  background: none scroll 0 0 no-repeat #5F9EA0; }

a {
  text-decoration: none;
  overflow: hidden; }
  a:hover, a:focus {
    text-decoration: underline; }

table {
  width: 100%; }
  table td {
    vertical-align: top; }

ul, dl, ol {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

ul li, dl li, ol li {
  list-style-type: none; }

.typographic {
  list-style-type: disc; }

abbr {
  margin-left: 0.1em; }

.breaker {
  display: block;
  margin-top: 10px; }

.bird-name {
  display: block; }

.wrapper {
  background-color: #fcfcfc;
  border-radius: 10px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }

header {
  /*outline: 1px solid orange;*/
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  background: #009966 url(../../images/css/header.jpg) scroll 0 0 no-repeat;
  min-height: 134px;
  color: #fff;
  padding: 0;
  position: relative;
  border-radius: 0 0 10px 10px; }
  header a {
    color: #000; }
    header a:focus, header a:hover {
      text-decoration: none; }
  header h1 {
    /*font-size: 3em;*/
    background-color: white;
    display: inline-block;
    padding: 0.5% 3%;
    border-radius: 5px;
    margin: 1.5em 5% 1.5em 5%; }

footer {
  /*outline: 1px solid red;*/
  background-color: #666;
  padding: 0 1.2%;
  border-radius: 0 0 5px 5px;
  color: #fff;
  overflow: hidden; }
  footer a {
    color: #fff; }

.main-content {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #000;
  padding: 1.07%; }

.breadcrumbs {
  padding: 0 15px;
  min-height: 2%; }
  .breadcrumbs ol {
    list-style-type: none;
    padding: 1em 0 0.4em;
    margin-left: 1.5em; }
    .breadcrumbs ol li {
      display: inline-block;
      /*font-size: 1.2em;*/
      padding-right: 15px; }
      .breadcrumbs ol li:after {
        content: ' >'; }
      .breadcrumbs ol li.last:after {
        content: ''; }

.flash {
  text-align: center; }
  .flash li {
    padding: 5px; }

.results_list {
  text-align: center;
  overflow: hidden; }
  .results_list li {
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1%; }
    .results_list li.wholePageView {
      width: 100%; }
      .results_list li.wholePageView .fullDescription {
        display: block;
        padding: 15px;
        text-align: left; }

.spin {
  position: relative;
  min-height: 250px; }

.birdDescription {
  border: 5px solid #000;
  border-radius: 10px;
  position: relative;
  text-align: center;
  min-width: 250px; }
  .birdDescription .mainImage {
    box-sizing: border-box;
    overflow: hidden; }
  .birdDescription .fieldNotes {
    min-height: 250px;
    position: relative;
    text-align: center;
    box-sizing: border-box; }
    .birdDescription .fieldNotes dl {
      position: relative; }
    .birdDescription .fieldNotes dt, .birdDescription .fieldNotes dd {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      box-sizing: border-box; }
    .birdDescription .fieldNotes dt {
      text-align: right;
      padding-right: 5%; }
    .birdDescription .fieldNotes dd {
      text-align: left;
      padding-left: 5%; }
  .birdDescription .user-actions li {
    width: 100%;
    padding: 5%; }
    .birdDescription .user-actions li a {
      color: #fff;
      text-decoration: none; }

.primary-navigation.navbar-default {
  background-image: none;
  background-repeat: repeat-x;
  -webkit-box-shadow: none;
  box-shadow: none; }

nav.primary-navigation {
  background-color: #000;
  padding: 1.07%;
  margin: 0; }
  nav.primary-navigation h2, nav.primary-navigation ul, nav.primary-navigation li {
    display: inline-block;
    vertical-align: top;
    overflow: hidden; }
  nav.primary-navigation h2 {
    margin: 0;
    position: absolute;
    top: 10px; }
  nav.primary-navigation li a {
    border-right: 1px solid #fff;
    /*font-size: 2em;*/
    padding: 0 0.5em;
    color: #fff;
    line-height: 1em; }
    nav.primary-navigation li a.active {
      color: #fff; }
  nav.primary-navigation li:last-child a {
    border-right: none; }

@media all and (min-width: 768px) {
  .navbar-default .navbar-collapse {
    display: inline-block !important; } }

aside nav div.type-links {
  width: 98%;
  overflow: hidden;
  padding: 1% 1% 2%; }
  aside nav div.type-links dl {
    display: block;
    width: 26%;
    margin: 0 auto 1em; }

div.type-links a {
  color: #000; }

.rare {
  color: #f00; }

/*.searchForm {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1%;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.searchForm div.formRow {
  position: relative;
  padding: 1%;
  width: 30%;
  float: left;
  vertical-align: top;
}

.searchForm div.submit {
  display: block;
  width: 100%;
}

.searchForm input[type=submit] {
  padding: 1% 3%;
  float: right;
  margin-right: 5%;
}

.searchForm label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
  width: 45%;
  text-align: right;
  /*font-size: 1.6em;
}*/
.searchForm select, .searchForm input[type=text] {
  width: 45%; }

.main-content form {
  margin-bottom: 2%; }

.noResults {
  /*font-size: 1.4em;*/
  color: #f00; }

.auth-panel {
  border-bottom: 2px solid #000;
  padding: 5%;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .auth-panel .signup {
    margin-bottom: 15px; }
  .auth-panel label {
    margin: 5px; }
  .auth-panel .or {
    margin: 5px;
    display: block;
    vertical-align: top;
    padding: 0; }
  .auth-panel .native-controls {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px; }
  .auth-panel .login-options {
    display: inline-block;
    vertical-align: top; }
    .auth-panel .login-options li {
      margin: 0 5px;
      display: inline-block;
      vertical-align: top; }
  .auth-panel input[type=password], .auth-panel input[type=text], .auth-panel input[type=email] {
    line-height: 2em;
    margin: 5px; }
  .auth-panel input[type=submit] {
    margin-top: 10px; }

.resultsContainer {
  overflow: hidden; }
  .resultsContainer h2 {
    margin: 2% 2%; }

.page-totals {
  text-align: center;
  margin: 0 1em; }

.pagination {
  text-align: center;
  display: block; }

.fullDescription {
  display: none; }

/* Off left items */
.skipLinks {
  width: 100%;
  z-index: 2; }
  .skipLinks li {
    list-style: none outside none;
    display: inline-block;
    vertical-align: top; }
    .skipLinks li a {
      position: absolute;
      left: -99999px;
      background-color: #fff;
      border: 2px solid #000;
      border-top: none;
      border-radius: 0 0 10px 10px;
      padding: 1%;
      text-decoration: none;
      color: #000;
      /*font-size: 2em;*/
      z-index: 1000; }
      .skipLinks li a:focus {
        left: 0px; }

.accessibilityHelper {
  position: absolute;
  left: -99999px; }

.skipLink {
  position: absolute;
  left: -99999px; }
  .skipLink:hover, .skipLink:focus {
    position: fixed;
    top: 0;
    left: 1%;
    z-index: 9999;
    outline: none;
    text-decoration: underline; }

.actions li, .bird_spotted img {
  padding: 0.5em; }

.actions .btn {
  width: 100%; }

#add_sighting fieldset {
  margin-top: 2em; }

.sighting-header {
  padding-bottom: 10px; }
  .sighting-header h1 {
    display: inline-block;
    vertical-align: top; }
  .sighting-header a {
    float: right;
    margin-top: 30px;
    margin-right: 15px; }

.checkbox {
  margin: 0; }
  .checkbox label {
    margin-left: 0; }
  .checkbox input[type=checkbox] {
    position: static;
    margin-left: 0; }

.minute {
  margin-right: 20px; }

.form-group label {
  margin-right: 15px; }

.spots-table {
  /*thead{
    th{
      font-size: 2em;
    }
  }*/ }
  .spots-table tfoot th {
    text-align: right; }

#add_sighting fieldset fieldset {
  width: 50%;
  margin: 2em auto;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 1em; }
  #add_sighting fieldset fieldset legend {
    width: auto;
    display: inline-block;
    padding: 1em; }

.no-spots a {
  color: #428bca; }

.or {
  display: block;
  padding: 1em;
  font-weight: bold;
  font-size: 1.5em;
  font-style: italic; }

#add_sighting label {
  margin: 0 1em; }

/*Spot page*/
select.site, select.bird {
  display: block;
  width: 100%; }

.reporting-area {
  border: 1px solid darkgrey;
  min-height: 400px;
  -moz-box-shadow: inset 0 0 10px darkgrey;
  -webkit-box-shadow: inset 0 0 10px darkgrey;
  box-shadow: inset 0 0 10px darkgrey;
  max-height: 400px;
  overflow-y: scroll; }

.comments-list {
  padding-top: 8px;
  padding-left: 0; }
  .comments-list li {
    border: 2px solid #000;
    padding: 0.5em;
    width: 98%;
    margin: 0 auto 2px;
    background-color: #d9edf7;
    border-radius: 5px; }
    .comments-list li.twitter {
      background-color: #fcf8e3; }
    .comments-list li p {
      margin: 0; }
      .comments-list li p span {
        display: inline-block;
        vertical-align: top;
        text-align: right; }
        .comments-list li p span.comment, .comments-list li p span.source {
          text-align: left; }
        .comments-list li p span.comment {
          display: block; }

textarea {
  width: 98%; }

.signup-form h1 {
  text-align: center;
  display: block; }

.user-menu {
  text-align: right;
  border-bottom: 2px solid #000;
  overflow: hidden; }
  .user-menu li {
    display: inline-block;
    vertical-align: top;
    padding: 1em; }

.user_profile img {
  display: block;
  margin: 1em 0; }
.user_profile input {
  margin: 1em 0; }
.user_profile .readout dd {
  margin-left: 1em; }

.unLinkList {
  margin-top: 1em; }
  .unLinkList li {
    display: inline-block;
    vertical-align: top;
    padding: 0.5em; }

.alt-login-methods li {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em; }

.form-inline .form-group {
  padding: 0.4em; }

.alternative-options > * {
  padding: 0.4em 0.4em 0 0.4em;
  display: inline-block;
  vertical-align: top; }
.alternative-options .register-link {
  color: #428bca;
  font-size: 1.4em; }
  .alternative-options .register-link:focus, .alternative-options .register-link:hover {
    text-decoration: underline; }

footer .copyright {
  margin-bottom: 0;
  padding: 0.5em; }

.map-canvas {
  height: 400px; }

.map-search-box {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis; }

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

/* Chat CSS */
.chatroom {
  /* ------ Home ------ */
  /* ------ Invite ------ */
  /* ------------ Section styles ------------ */
  /* ------ Home ------ */
  /* ------ Connected ------*/
  /* ------ Person Inside ------*/
  /* ------ Invite ------ */
  /* ------ Left ------*/
  /* ------ Too many People ------*/
  /* ------ No Messages ------ */
  /* ------ Chat Screen ------ */
  /* ------------ Footer styles ------------ */
  /* ---------------------- HIDE -------------------------- */ }
  .chatroom .homebanner {
    height: 120px;
    background-color: #3c4446; }
  .chatroom .homebannertext {
    text-align: center;
    padding-top: 35px;
    font-family: 'Open Sans Condensed', serif;
    font-weight: bold;
    color: white; }
  .chatroom .homebannertext span {
    color: #d6441b; }
  .chatroom #logo {
    text-decoration: none;
    color: white; }
  .chatroom #logo:visited {
    color: white; }
  .chatroom .banner {
    height: 70px;
    background-color: #3c4446;
    margin-bottom: 200px; }
  .chatroom .bannertext {
    text-align: center;
    padding-top: 15px;
    font-family: 'Open Sans Condensed', serif;
    font-weight: bold;
    color: white;
    font-size: 25px; }
  .chatroom .bannertext span {
    color: #d6441b; }
  .chatroom .homesection {
    text-align: center;
    margin-top: 140px; }
  .chatroom .node {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 120px; }
  .chatroom .node #chat {
    font-family: 'Open Sans Condensed';
    font-weight: normal;
    color: #707368; }
  .chatroom #nodelogo {
    width: 410px;
    height: 110px;
    margin-bottom: 35px; }
  .chatroom #create {
    width: 300px;
    height: 100px;
    background-color: #70b1d1;
    text-align: center;
    display: block;
    margin: 0px auto;
    border-radius: 3px;
    box-shadow: 0px 5px 5px #e4e8e7;
    text-decoration: none;
    margin-bottom: 70px;
    color: #eeffff; }
  .chatroom #create:visited {
    color: #eeffff;
    text-decoration: none; }
  .chatroom #createbutton {
    padding-top: 28px; }
  .chatroom #little {
    font-weight: normal;
    font-size: 13px; }
  .chatroom #big {
    font-weight: bold;
    font-size: 23px; }
  .chatroom .tutorial {
    margin-bottom: 90px; }
  .chatroom #tutorial {
    color: #88bfd4; }
  .chatroom #tutorial:visited {
    color: #88bfd4; }
  .chatroom .ui-dialog {
    border: 4px solid #000;
    font-family: Tahoma;
    padding: 0; }
  .chatroom .connected {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 700px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    color: #637277; }
  .chatroom .connected h2 {
    padding-top: 20px; }
  .chatroom .infoConnected {
    text-align: left;
    float: right;
    margin: 65px 165px 0 0; }
  .chatroom #creatorImage {
    float: left;
    margin: 90px 0 0 140px;
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  .chatroom #yourName {
    float: left;
    padding-left: 10px;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    background-color: #f0f1f3;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    margin-bottom: 20px;
    overflow: hidden; }
  .chatroom #yourEmail {
    float: left;
    padding-left: 10px;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    background-color: #f0f1f3;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    margin-bottom: 40px; }
  .chatroom #yourEnter {
    float: left;
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: #73b4d4;
    border: none;
    box-shadow: 3px 3px 3px #efedee;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 15px; }
  .chatroom .personinside {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 700px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    color: #637277; }
  .chatroom .personinside h2 {
    padding-top: 20px;
    width: 210px;
    overflow: hidden; }
  .chatroom .infoInside {
    text-align: left;
    float: right;
    margin: 65px 165px 0 0; }
  .chatroom #ownerImage {
    float: left;
    margin: 90px 0 0 140px;
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  .chatroom #hisName {
    float: left;
    padding-left: 10px;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    background-color: #f0f1f3;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    margin-bottom: 20px; }
  .chatroom #hisEmail {
    float: left;
    padding-left: 10px;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    background-color: #f0f1f3;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    margin-bottom: 40px; }
  .chatroom #hisEnter {
    float: left;
    width: 110px;
    height: 40px;
    text-align: center;
    background-color: #73b4d4;
    border: none;
    box-shadow: 3px 3px 3px #efedee;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 15px; }
  .chatroom .invite-textfield {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 750px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    color: #637277; }
  .chatroom .invite-textfield h2 {
    padding-top: 80px; }
  .chatroom .invite-textfield h5 {
    font-weight: normal;
    margin: 10px 0 35px; }
  .chatroom .invite-textfield .link {
    width: 600px;
    height: 35px;
    text-align: center;
    display: block;
    margin: 0px auto;
    padding-top: 15px;
    margin-bottom: 120px;
    border-radius: 4px;
    background-color: #f0f1f3; }
  .chatroom .invite-textfield #link {
    text-decoration: none;
    color: #637277; }
  .chatroom .left {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 750px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    color: #637277;
    margin-bottom: 400px; }
  .chatroom .left h2 {
    padding-top: 50px;
    padding-bottom: 6px; }
  .chatroom .left h5 {
    font-weight: normal;
    margin-bottom: 100px; }
  .chatroom #leftImage {
    float: left;
    margin: 90px 0 0 140px;
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  .chatroom .nickname-left {
    width: 40px;
    overflow: hidden; }
  .chatroom .toomanypeople {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 750px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    color: #637277; }
  .chatroom .toomanypeople h2 {
    padding-top: 100px;
    padding-bottom: 8px; }
  .chatroom .toomanypeople h5 {
    font-weight: normal;
    margin-bottom: 100px; }
  .chatroom #room:visited {
    color: #88bfd4; }
  .chatroom .nomessages {
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 750px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    color: #637277;
    margin-bottom: 400px; }
  .chatroom .nomessages h2 {
    padding-top: 50px;
    overflow: hidden;
    padding-bottom: 6px; }
  .chatroom .nomessages h5 {
    font-weight: normal;
    margin-bottom: 100px; }
  .chatroom #noMessagesImage {
    float: left;
    margin: 90px 0 0 140px;
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  .chatroom #img {
    float: left;
    margin: 90px 0 0 140px;
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  .chatroom .info {
    text-align: left;
    float: right;
    margin: 65px 60px 0 0;
    width: 405px;
    overflow: hidden; }
  .chatroom .nickname-chat {
    overflow: hidden; }
  .chatroom .image {
    clear: both;
    float: left;
    height: 160px;
    width: 80px;
    text-align: center;
    overflow: hidden; }
  .chatroom .image img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%; }
  .chatroom .body {
    text-align: center;
    width: 40%;
    display: block;
    margin: 0px auto 650px;
    background-color: #ffffff;
    color: #637277; }
  .chatroom .chats {
    list-style-type: none;
    margin-top: 10px; }
  .chatroom .me {
    clear: both;
    float: left;
    margin-bottom: 10px; }
  .chatroom .you {
    clear: both;
    float: right;
    margin-bottom: 10px; }
  .chatroom .you .image {
    float: right; }
  .chatroom .chats .me p {
    text-align: left;
    float: left;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 25px 34px;
    min-width: 160px;
    min-height: 10px;
    max-width: 510px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #E3E4E6;
    color: #637277;
    line-height: 1.4;
    word-wrap: break-word; }
  .chatroom .chats .you p {
    text-align: left;
    float: left;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 25px 34px;
    min-width: 160px;
    min-height: 10px;
    max-width: 510px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0px 3px 3px #E3E4E6;
    color: #637277;
    line-height: 1.4;
    word-wrap: break-word; }
  .chatroom .image b {
    overflow: hidden;
    display: block;
    clear: both;
    padding-top: 7px; }
  .chatroom .image i {
    font-size: 12px;
    line-height: 1.2;
    display: block;
    opacity: 0.8;
    padding-top: 4px; }
  .chatroom footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    background-color: white;
    height: 130px; }
  .chatroom #chatform {
    width: 700px;
    margin: 0 auto;
    background-color: white; }
  .chatroom #message {
    width: 550px;
    height: 80px;
    display: block;
    float: left;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding-left: 20px;
    padding-top: 20px;
    resize: none;
    font: inherit;
    color: inherit; }
  .chatroom #submit {
    width: 110px;
    height: 60px;
    float: right;
    text-align: center;
    background-color: #73b4d4;
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: 3px 3px 3px #efedee;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    outline: none;
    cursor: pointer; }
  .chatroom .connected {
    display: none; }
  .chatroom .personinside {
    display: none; }
  .chatroom .invite-textfield {
    display: none; }
  .chatroom .left {
    display: none; }
  .chatroom .toomanypeople {
    display: none; }
  .chatroom .nomessages {
    display: none; }
  .chatroom footer {
    display: none; }
  .chatroom .chatscreen {
    display: none;
    width: 700px;
    margin: 0 auto 200px;
    overflow: hidden; }

.rating-stars.rating-1 .star-1 {
  background-position: left -16px; }
.rating-stars.rating-2 .star-1, .rating-stars.rating-2 .star-2 {
  background-position: left -16px; }
.rating-stars.rating-3 .star-1, .rating-stars.rating-3 .star-2, .rating-stars.rating-3 .star-3 {
  background-position: left -16px; }
.rating-stars.rating-4 .star-1, .rating-stars.rating-4 .star-2, .rating-stars.rating-4 .star-3, .rating-stars.rating-4 .star-4 {
  background-position: left -16px; }
.rating-stars.rating-5 .star-1, .rating-stars.rating-5 .star-2, .rating-stars.rating-5 .star-3, .rating-stars.rating-5 .star-4, .rating-stars.rating-5 .star-5 {
  background-position: left -16px; }
.rating-stars a[class^='star-']:hover, .rating-stars a[class^='star-']:focus, .rating-stars div[class*=' star-']:hover, .rating-stars div[class*=' star-']:focus {
  background-position: left -32px; }
.rating-stars li {
  display: inline-block;
  vertical-align: top; }
  .rating-stars li a {
    display: block;
    background: url(../../images/css/star_rate.gif) left top no-repeat;
    width: 16px;
    height: 16px;
    padding: 0 10px; }
  .rating-stars li:last-child a {
    padding-right: 0; }

.infoWindow h1 {
  font-size: 18px; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px; }

.ui-timepicker-div dl {
  text-align: left; }

.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px; }

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%; }

.ui-timepicker-div td {
  font-size: 90%; }

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0; }

.ui-timepicker-rtl {
  direction: rtl; }

.ui-timepicker-rtl dl {
  text-align: right;
  padding: 0 5px 0 0; }

.ui-timepicker-rtl dl dt {
  float: right;
  clear: right; }

.ui-timepicker-rtl dl dd {
  margin: 0 45% 10px 10px; }

/* IE Only warning */
.browserTriage {
  background-color: #f00;
  color: #000;
  font-weight: bold;
  /*font-size: 1.6em;*/
  padding: 1em; }

@media screen and (min-width: 992px) {
  nav.primary-navigation h2 {
    position: static;
    top: auto; }
  .auth-panel {
    border-bottom: 2px solid #000;
    margin: 0;
    padding: 1%;
    text-align: left;
    position: relative;
    overflow: hidden; }
    .auth-panel .signup {
      margin-bottom: 0; }
      .auth-panel .signup a {
        margin-top: 2.3em; }
    .auth-panel label {
      margin: 5px; }
    .auth-panel .native-controls {
      border: 0;
      padding-bottom: 0; }
    .auth-panel .or {
      margin: 5px;
      display: inline-block;
      vertical-align: top;
      padding: 0; }
    .auth-panel .login-options {
      display: inline-block;
      vertical-align: top; }
      .auth-panel .login-options li {
        margin: 0 5px;
        display: inline-block;
        vertical-align: top; }
    .auth-panel input[type=password], .auth-panel input[type=text], .auth-panel input[type=email] {
      margin: 0 1% 0 0;
      line-height: 2em; }
    .auth-panel input[type=submit] {
      margin-top: 0; } }

@media screen and (min-width: 768px) {
  nav.primary-navigation h2 {
    position: static;
    top: auto; } }
