<nav class="primary-navigation navbar navbar-default" id="main-nav" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
    	</div>
		<h2>Main Menu:&nbsp;</h2>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="h2 nav navbar-nav">
				{#appviews}
					{^isPrivate}
						<li>{>menu_item /}</li>
					{/isPrivate}
					{?isPrivate}
						{?authenticated}
						<li>{>menu_item /}</li>
						{/authenticated}
					{/isPrivate}
				{/appviews}
			</ul>
		</div>
	</div>
</nav>